# Configuración de PostgreSQL (Data Warehouse & Fuentes OLTP)
POSTGRES_USER=xxxx
POSTGRES_PASSWORD=xxx
POSTGRES_HOST=xxx
POSTGRES_PORT=xxxx
POSTGRES_DB=xxx

# Configuración de Base de Datos Interna de Airflow
AIRFLOW_USER=xxx
AIRFLOW_PASSWORD=xxx
AIRFLOW_DB=xxx

# Credenciales de Acceso a la Interfaz Web de Airflow (UI)
AIRFLOW_WWW_USER=xxx
AIRFLOW_WWW_PASSWORD=xxx
AIRFLOW_PORT=xxx
